--
-- PostgreSQL database dump
--

\restrict QjPdcO8g8JfodnjdAXg8smnhoEQgIWFPmn6fDTmdWjBabL1MOjKGY96L3DnZZUF

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.pagos DROP CONSTRAINT IF EXISTS fk_pago_paciente;
ALTER TABLE IF EXISTS ONLY public.pagos DROP CONSTRAINT IF EXISTS fk_pago_cita;
ALTER TABLE IF EXISTS ONLY public.horarios DROP CONSTRAINT IF EXISTS fk_horario_doctor;
ALTER TABLE IF EXISTS ONLY public.doctores DROP CONSTRAINT IF EXISTS fk_doctor_especialidad;
ALTER TABLE IF EXISTS ONLY public.citas DROP CONSTRAINT IF EXISTS fk_cita_paciente;
ALTER TABLE IF EXISTS ONLY public.citas DROP CONSTRAINT IF EXISTS fk_cita_horario;
ALTER TABLE IF EXISTS ONLY public.citas DROP CONSTRAINT IF EXISTS fk_cita_doctor;
DROP INDEX IF EXISTS public.ux_payments_idempotency_key_jpa;
DROP INDEX IF EXISTS public.ux_payments_appointment_id_jpa;
DROP INDEX IF EXISTS public.ux_paciente_horario_activo;
DROP INDEX IF EXISTS public.ux_doctor_horario_activo;
DROP INDEX IF EXISTS public.ux_appointments_patient_datetime_jpa;
DROP INDEX IF EXISTS public.ux_appointments_idempotency_key_jpa;
DROP INDEX IF EXISTS public.ux_appointments_doctor_datetime_jpa;
DROP INDEX IF EXISTS public.idx_doctors_activo;
DROP INDEX IF EXISTS public.idx_doctor_horario_doctor_id;
DROP INDEX IF EXISTS public.idx_doctor_horario_disponible;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_pkey;
ALTER TABLE IF EXISTS ONLY public.pagos DROP CONSTRAINT IF EXISTS pagos_pkey;
ALTER TABLE IF EXISTS ONLY public.pagos DROP CONSTRAINT IF EXISTS pagos_cita_id_key;
ALTER TABLE IF EXISTS ONLY public.pacientes DROP CONSTRAINT IF EXISTS pacientes_pkey;
ALTER TABLE IF EXISTS ONLY public.pacientes DROP CONSTRAINT IF EXISTS pacientes_dpi_key;
ALTER TABLE IF EXISTS ONLY public.pacientes DROP CONSTRAINT IF EXISTS pacientes_correo_key;
ALTER TABLE IF EXISTS ONLY public.outbox_events DROP CONSTRAINT IF EXISTS outbox_events_pkey;
ALTER TABLE IF EXISTS ONLY public.llaves_idempotencia DROP CONSTRAINT IF EXISTS llaves_idempotencia_pkey;
ALTER TABLE IF EXISTS ONLY public.llaves_idempotencia DROP CONSTRAINT IF EXISTS llaves_idempotencia_idempotency_key_key;
ALTER TABLE IF EXISTS ONLY public.pacientes DROP CONSTRAINT IF EXISTS idx_dpi;
ALTER TABLE IF EXISTS ONLY public.doctores DROP CONSTRAINT IF EXISTS idx_doctors_correo;
ALTER TABLE IF EXISTS ONLY public.horarios DROP CONSTRAINT IF EXISTS horarios_pkey;
ALTER TABLE IF EXISTS ONLY public.eventos_salientes DROP CONSTRAINT IF EXISTS eventos_salientes_pkey;
ALTER TABLE IF EXISTS ONLY public.especialidades DROP CONSTRAINT IF EXISTS especialidades_pkey;
ALTER TABLE IF EXISTS ONLY public.especialidades DROP CONSTRAINT IF EXISTS especialidades_nombre_key;
ALTER TABLE IF EXISTS ONLY public.doctores DROP CONSTRAINT IF EXISTS doctores_pkey;
ALTER TABLE IF EXISTS ONLY public.citas DROP CONSTRAINT IF EXISTS citas_pkey;
ALTER TABLE IF EXISTS ONLY public.appointments DROP CONSTRAINT IF EXISTS appointments_pkey;
ALTER TABLE IF EXISTS public.payments ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.payments_id_seq;
DROP TABLE IF EXISTS public.payments;
DROP TABLE IF EXISTS public.pagos;
DROP TABLE IF EXISTS public.pacientes;
DROP TABLE IF EXISTS public.outbox_events;
DROP TABLE IF EXISTS public.llaves_idempotencia;
DROP TABLE IF EXISTS public.horarios;
DROP TABLE IF EXISTS public.eventos_salientes;
DROP TABLE IF EXISTS public.especialidades;
DROP TABLE IF EXISTS public.doctores;
DROP TABLE IF EXISTS public.citas;
DROP TABLE IF EXISTS public.appointments;
DROP EXTENSION IF EXISTS pgcrypto;
-- *not* dropping schema, since initdb creates it
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: mediqueue
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO mediqueue;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appointments; Type: TABLE; Schema: public; Owner: mediqueue
--

CREATE TABLE public.appointments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    patient_id character varying(80) NOT NULL,
    doctor_id character varying(80) NOT NULL,
    appointment_date timestamp without time zone NOT NULL,
    duration_minutes integer DEFAULT 30 NOT NULL,
    consultation_price numeric(12,2) DEFAULT 0.00 NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    idempotency_key character varying(120),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    version bigint,
    doctor_name character varying(120),
    patient_name character varying(120),
    CONSTRAINT chk_appointments_duration_minutes CHECK (((duration_minutes >= 20) AND (duration_minutes <= 30)))
);


ALTER TABLE public.appointments OWNER TO mediqueue;

--
-- Name: citas; Type: TABLE; Schema: public; Owner: mediqueue
--

CREATE TABLE public.citas (
    id_cita uuid DEFAULT gen_random_uuid() NOT NULL,
    paciente_id uuid NOT NULL,
    doctor_id uuid NOT NULL,
    horario_id uuid NOT NULL,
    estado_cita character varying(30) DEFAULT 'CONFIRMADA'::character varying NOT NULL,
    duracion_minutos integer DEFAULT 30 NOT NULL,
    precio_consulta numeric(12,2) DEFAULT 0.00 NOT NULL,
    numero_turno integer,
    motivo_consulta character varying(255),
    observaciones character varying(255),
    creado_en timestamp without time zone DEFAULT now() NOT NULL,
    actualizado_en timestamp without time zone DEFAULT now() NOT NULL,
    version bigint DEFAULT 0 NOT NULL,
    CONSTRAINT chk_cita_estado CHECK (((estado_cita)::text = ANY ((ARRAY['CONFIRMADA'::character varying, 'CANCELADA'::character varying, 'PENDIENTE'::character varying, 'FINALIZADA'::character varying])::text[]))),
    CONSTRAINT chk_citas_duracion_minutos CHECK (((duracion_minutos >= 20) AND (duracion_minutos <= 30)))
);


ALTER TABLE public.citas OWNER TO mediqueue;

--
-- Name: doctores; Type: TABLE; Schema: public; Owner: mediqueue
--

CREATE TABLE public.doctores (
    id_doctor uuid DEFAULT gen_random_uuid() NOT NULL,
    especialidad_id uuid NOT NULL,
    nombre character varying(120) NOT NULL,
    telefono character varying(30),
    correo character varying(120),
    estado character varying(255) DEFAULT 'ACTIVO'::character varying NOT NULL,
    creado_en timestamp without time zone DEFAULT now() NOT NULL,
    actualizado_en timestamp without time zone DEFAULT now() NOT NULL,
    version bigint DEFAULT 0 NOT NULL,
    max_appointments_per_day integer DEFAULT 10 NOT NULL,
    CONSTRAINT chk_doctor_estado CHECK (((estado)::text = ANY (ARRAY[('ACTIVO'::character varying)::text, ('INACTIVO'::character varying)::text])))
);


ALTER TABLE public.doctores OWNER TO mediqueue;

--
-- Name: especialidades; Type: TABLE; Schema: public; Owner: mediqueue
--

CREATE TABLE public.especialidades (
    id_especialidad uuid DEFAULT gen_random_uuid() NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion character varying(255),
    precio_consulta numeric(12,2) DEFAULT 150.00 NOT NULL,
    activa boolean DEFAULT true NOT NULL,
    creado_en timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.especialidades OWNER TO mediqueue;

--
-- Name: eventos_salientes; Type: TABLE; Schema: public; Owner: mediqueue
--

CREATE TABLE public.eventos_salientes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    aggregate_id uuid NOT NULL,
    aggregate_type character varying(80) NOT NULL,
    event_type character varying(120) NOT NULL,
    exchange_name character varying(160) NOT NULL,
    routing_key character varying(160) NOT NULL,
    payload text NOT NULL,
    status character varying(30) DEFAULT 'PENDIENTE'::character varying NOT NULL,
    intentos integer DEFAULT 0 NOT NULL,
    creado_en timestamp without time zone DEFAULT now() NOT NULL,
    procesado_en timestamp without time zone,
    CONSTRAINT chk_outbox_status CHECK (((status)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'PROCESADO'::character varying])::text[])))
);


ALTER TABLE public.eventos_salientes OWNER TO mediqueue;

--
-- Name: horarios; Type: TABLE; Schema: public; Owner: mediqueue
--

CREATE TABLE public.horarios (
    id_horario uuid DEFAULT gen_random_uuid() NOT NULL,
    doctor_id uuid NOT NULL,
    dia_semana character varying(20) NOT NULL,
    hora_inicio time without time zone NOT NULL,
    hora_fin time without time zone NOT NULL,
    disponible boolean DEFAULT true NOT NULL,
    creado_en timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.horarios OWNER TO mediqueue;

--
-- Name: llaves_idempotencia; Type: TABLE; Schema: public; Owner: mediqueue
--

CREATE TABLE public.llaves_idempotencia (
    client_id uuid NOT NULL,
    servicio_origen character varying(50) NOT NULL,
    request_hash character varying(255),
    idempotency_key character varying(120) NOT NULL,
    cuerpo_respuesta text,
    creado_en timestamp without time zone DEFAULT now(),
    expira_en timestamp without time zone
);


ALTER TABLE public.llaves_idempotencia OWNER TO mediqueue;

--
-- Name: outbox_events; Type: TABLE; Schema: public; Owner: mediqueue
--

CREATE TABLE public.outbox_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    aggregate_id character varying(120) NOT NULL,
    aggregate_type character varying(80) NOT NULL,
    event_type character varying(120) NOT NULL,
    exchange_name character varying(160) NOT NULL,
    routing_key character varying(160) NOT NULL,
    payload text NOT NULL,
    status character varying(30) DEFAULT 'PENDING'::character varying NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    processed_at timestamp without time zone
);


ALTER TABLE public.outbox_events OWNER TO mediqueue;

--
-- Name: pacientes; Type: TABLE; Schema: public; Owner: mediqueue
--

CREATE TABLE public.pacientes (
    id_paciente uuid DEFAULT gen_random_uuid() NOT NULL,
    dpi character varying(255) NOT NULL,
    correo character varying(255) NOT NULL,
    nombre character varying(255) NOT NULL,
    telefono character varying(255) NOT NULL,
    estado character varying(255) DEFAULT 'ACTIVO'::character varying NOT NULL,
    creado_en timestamp without time zone DEFAULT now() NOT NULL,
    actualizado_en timestamp without time zone DEFAULT now() NOT NULL,
    version bigint DEFAULT 0 NOT NULL,
    CONSTRAINT chk_paciente_estado CHECK (((estado)::text = ANY (ARRAY[('ACTIVO'::character varying)::text, ('INACTIVO'::character varying)::text])))
);


ALTER TABLE public.pacientes OWNER TO mediqueue;

--
-- Name: pagos; Type: TABLE; Schema: public; Owner: mediqueue
--

CREATE TABLE public.pagos (
    id_pago uuid DEFAULT gen_random_uuid() NOT NULL,
    cita_id uuid NOT NULL,
    paciente_id uuid NOT NULL,
    monto numeric(12,2) NOT NULL,
    estado character varying(30) DEFAULT 'PENDIENTE'::character varying NOT NULL,
    metodo_pago character varying(30),
    referencia character varying(120),
    idempotency_key character varying(120),
    creado_en timestamp without time zone DEFAULT now() NOT NULL,
    actualizado_en timestamp without time zone DEFAULT now() NOT NULL,
    version bigint DEFAULT 0 NOT NULL,
    CONSTRAINT chk_pago_estado CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'PAGADO'::character varying, 'FALLIDO'::character varying, 'CANCELADO'::character varying])::text[])))
);


ALTER TABLE public.pagos OWNER TO mediqueue;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: mediqueue
--

CREATE TABLE public.payments (
    id bigint NOT NULL,
    appointment_id character varying(80) NOT NULL,
    patient_id character varying(80) NOT NULL,
    amount numeric(38,2) NOT NULL,
    status character varying(30) NOT NULL,
    idempotency_key character varying(120),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    version bigint
);


ALTER TABLE public.payments OWNER TO mediqueue;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: mediqueue
--

CREATE SEQUENCE public.payments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.payments_id_seq OWNER TO mediqueue;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mediqueue
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: mediqueue
--



--
-- Data for Name: citas; Type: TABLE DATA; Schema: public; Owner: mediqueue
--

COPY public.citas (id_cita, paciente_id, doctor_id, horario_id, estado_cita, duracion_minutos, precio_consulta, numero_turno, motivo_consulta, observaciones, creado_en, actualizado_en, version) FROM stdin;
\.


--
-- Data for Name: doctores; Type: TABLE DATA; Schema: public; Owner: mediqueue
--



--
-- Data for Name: especialidades; Type: TABLE DATA; Schema: public; Owner: mediqueue
--



--
-- Data for Name: eventos_salientes; Type: TABLE DATA; Schema: public; Owner: mediqueue
--

COPY public.eventos_salientes (id, aggregate_id, aggregate_type, event_type, exchange_name, routing_key, payload, status, intentos, creado_en, procesado_en) FROM stdin;
\.


--
-- Data for Name: horarios; Type: TABLE DATA; Schema: public; Owner: mediqueue
--



--
-- Data for Name: llaves_idempotencia; Type: TABLE DATA; Schema: public; Owner: mediqueue
--

COPY public.llaves_idempotencia (client_id, servicio_origen, request_hash, idempotency_key, cuerpo_respuesta, creado_en, expira_en) FROM stdin;
\.


--
-- Data for Name: outbox_events; Type: TABLE DATA; Schema: public; Owner: mediqueue
--



--
-- Data for Name: pacientes; Type: TABLE DATA; Schema: public; Owner: mediqueue
--



--
-- Data for Name: pagos; Type: TABLE DATA; Schema: public; Owner: mediqueue
--

COPY public.pagos (id_pago, cita_id, paciente_id, monto, estado, metodo_pago, referencia, idempotency_key, creado_en, actualizado_en, version) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: mediqueue
--



--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mediqueue
--

SELECT pg_catalog.setval('public.payments_id_seq', 73, true);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: citas citas_pkey; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_pkey PRIMARY KEY (id_cita);


--
-- Name: doctores doctores_pkey; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.doctores
    ADD CONSTRAINT doctores_pkey PRIMARY KEY (id_doctor);


--
-- Name: especialidades especialidades_nombre_key; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.especialidades
    ADD CONSTRAINT especialidades_nombre_key UNIQUE (nombre);


--
-- Name: especialidades especialidades_pkey; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.especialidades
    ADD CONSTRAINT especialidades_pkey PRIMARY KEY (id_especialidad);


--
-- Name: eventos_salientes eventos_salientes_pkey; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.eventos_salientes
    ADD CONSTRAINT eventos_salientes_pkey PRIMARY KEY (id);


--
-- Name: horarios horarios_pkey; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.horarios
    ADD CONSTRAINT horarios_pkey PRIMARY KEY (id_horario);


--
-- Name: doctores idx_doctors_correo; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.doctores
    ADD CONSTRAINT idx_doctors_correo UNIQUE (correo);


--
-- Name: pacientes idx_dpi; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT idx_dpi UNIQUE (dpi);


--
-- Name: llaves_idempotencia llaves_idempotencia_idempotency_key_key; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.llaves_idempotencia
    ADD CONSTRAINT llaves_idempotencia_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: llaves_idempotencia llaves_idempotencia_pkey; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.llaves_idempotencia
    ADD CONSTRAINT llaves_idempotencia_pkey PRIMARY KEY (client_id);


--
-- Name: outbox_events outbox_events_pkey; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.outbox_events
    ADD CONSTRAINT outbox_events_pkey PRIMARY KEY (id);


--
-- Name: pacientes pacientes_correo_key; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_correo_key UNIQUE (correo);


--
-- Name: pacientes pacientes_dpi_key; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_dpi_key UNIQUE (dpi);


--
-- Name: pacientes pacientes_pkey; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_pkey PRIMARY KEY (id_paciente);


--
-- Name: pagos pagos_cita_id_key; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_cita_id_key UNIQUE (cita_id);


--
-- Name: pagos pagos_pkey; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_pkey PRIMARY KEY (id_pago);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: idx_doctor_horario_disponible; Type: INDEX; Schema: public; Owner: mediqueue
--

CREATE INDEX idx_doctor_horario_disponible ON public.horarios USING btree (disponible);


--
-- Name: idx_doctor_horario_doctor_id; Type: INDEX; Schema: public; Owner: mediqueue
--

CREATE INDEX idx_doctor_horario_doctor_id ON public.horarios USING btree (doctor_id);


--
-- Name: idx_doctors_activo; Type: INDEX; Schema: public; Owner: mediqueue
--

CREATE INDEX idx_doctors_activo ON public.doctores USING btree (estado);


--
-- Name: ux_appointments_doctor_datetime_jpa; Type: INDEX; Schema: public; Owner: mediqueue
--

CREATE UNIQUE INDEX ux_appointments_doctor_datetime_jpa ON public.appointments USING btree (doctor_id, appointment_date);


--
-- Name: ux_appointments_idempotency_key_jpa; Type: INDEX; Schema: public; Owner: mediqueue
--

CREATE UNIQUE INDEX ux_appointments_idempotency_key_jpa ON public.appointments USING btree (idempotency_key) WHERE (idempotency_key IS NOT NULL);


--
-- Name: ux_appointments_patient_datetime_jpa; Type: INDEX; Schema: public; Owner: mediqueue
--

CREATE UNIQUE INDEX ux_appointments_patient_datetime_jpa ON public.appointments USING btree (patient_id, appointment_date);


--
-- Name: ux_doctor_horario_activo; Type: INDEX; Schema: public; Owner: mediqueue
--

CREATE UNIQUE INDEX ux_doctor_horario_activo ON public.citas USING btree (doctor_id, horario_id) WHERE ((estado_cita)::text = 'CONFIRMADA'::text);


--
-- Name: ux_paciente_horario_activo; Type: INDEX; Schema: public; Owner: mediqueue
--

CREATE UNIQUE INDEX ux_paciente_horario_activo ON public.citas USING btree (paciente_id, horario_id) WHERE ((estado_cita)::text = 'CONFIRMADA'::text);


--
-- Name: ux_payments_appointment_id_jpa; Type: INDEX; Schema: public; Owner: mediqueue
--

CREATE UNIQUE INDEX ux_payments_appointment_id_jpa ON public.payments USING btree (appointment_id);


--
-- Name: ux_payments_idempotency_key_jpa; Type: INDEX; Schema: public; Owner: mediqueue
--

CREATE UNIQUE INDEX ux_payments_idempotency_key_jpa ON public.payments USING btree (idempotency_key) WHERE (idempotency_key IS NOT NULL);


--
-- Name: citas fk_cita_doctor; Type: FK CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT fk_cita_doctor FOREIGN KEY (doctor_id) REFERENCES public.doctores(id_doctor);


--
-- Name: citas fk_cita_horario; Type: FK CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT fk_cita_horario FOREIGN KEY (horario_id) REFERENCES public.horarios(id_horario);


--
-- Name: citas fk_cita_paciente; Type: FK CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT fk_cita_paciente FOREIGN KEY (paciente_id) REFERENCES public.pacientes(id_paciente);


--
-- Name: doctores fk_doctor_especialidad; Type: FK CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.doctores
    ADD CONSTRAINT fk_doctor_especialidad FOREIGN KEY (especialidad_id) REFERENCES public.especialidades(id_especialidad);


--
-- Name: horarios fk_horario_doctor; Type: FK CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.horarios
    ADD CONSTRAINT fk_horario_doctor FOREIGN KEY (doctor_id) REFERENCES public.doctores(id_doctor) ON DELETE CASCADE;


--
-- Name: pagos fk_pago_cita; Type: FK CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT fk_pago_cita FOREIGN KEY (cita_id) REFERENCES public.citas(id_cita);


--
-- Name: pagos fk_pago_paciente; Type: FK CONSTRAINT; Schema: public; Owner: mediqueue
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT fk_pago_paciente FOREIGN KEY (paciente_id) REFERENCES public.pacientes(id_paciente);


--
-- PostgreSQL database dump complete
--

\unrestrict QjPdcO8g8JfodnjdAXg8smnhoEQgIWFPmn6fDTmdWjBabL1MOjKGY96L3DnZZUF

